@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    /* Trik untuk "menutupi" latar belakang gelap dengan shadow putih dari dalam */
    -webkit-text-fill-color: #111827 !important;
    /* Paksa warna teks agar tetap gelap */
    transition: background-color 5000s ease-in-out 0s;
    /* Trik untuk mencegah transisi warna dari browser */
    background-color: transparent !important;
    /* Pastikan latar belakangnya tetap transparan */
}